{% extends "base_template.html" %}

{% block title %}Registration{% endblock %}

{% block header_title %}Registration{% endblock %}
{% block header_content %}{% endblock %}

{% block content %}
<h3>{% now "Y" %} Registration</h3>
<div>
    Roadrunner is pleased to announce {% now "Y" %} registration. We will be offering T-Ball (beginning at age 4) and
    baseball programs.
</div>
<h3>Registration Dates</h3>
<div>
    REGISTER IN PERSON: All new, Tee ball, and rookie players in person recommended<br>
    Saturday January 20th 9AM - 12PM, or Saturday January 27th 9AM - 12PM<br>
    Location: RRLL Boardroom<br>
    Cash or Check - Card will require additional fee.<br>
    OR YOU CAN REGISTER ONLINE:<br>
    <div>
        <a href="https://login.stacksports.com/login?client_id=612b0399b1854a002e427f78&redirect_uri=https://core-api.bluesombrero.com/login/redirect/portal/50346&app_name=Roadrunner+Little+League&portalid=50346&instancekey=clubs"
            role="button" class="btn btn-danger">Register Here</a>
    </div>
    <div>
        After registering online, please bring your child’s birth certificate and 3 proofs of residence to the RRLL
        board room for verification on February 5th from 9am - 12pm.
    </div>
    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Fee</th>
                    <th scope="col">Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Single Participant</td>
                    <td>$150.00</td>
                </tr>
                <tr>
                    <td>Sibling Registration (applies to all subsequent siblings)</td>
                    <td>$110.00</td>
                </tr>
                <tr>
                    <td>Late Fee</td>
                    <td>$40.00</td>
                </tr>
            </tbody>
        </table>
        <div>
            Any Questions? <a href="mailto:info@rrll.org">info@rrll.org</a> or <a
                href="tel:1-505-610-0258">505-610-0258</a>
        </div>
    </div>
    <div>
        <h3>Residency Requirements</h3>
        <p>Players must reside or attend school inside the boundaries of Roadrunner Little League. You can check your address on <a href="http://www.littleleague.org/LeagueFinder.htm">League Finder</a> to confirm your league.</a></p>
        <p>Additional information on residency requirements is available from <a href="http://www.littleleague.org/assets/forms_pubs/Residence-Eligibility.pdf">Little League International.</a></p>
    </div>
    <div>
        <h3>School Based Residency</h3>
        <p>Residency based on school attendance must be verified with the <a href="http://www.littleleague.org/Assets/forms_pubs/school-enrollment-form.pdf">School Enrollment Form</a> and must be signed by a school administrator.</p>
        <p>Please complete all fields EXCEPT the administrator's name, signature, and title before presenting to the school, and have the form signed prior to registration.</p>
        <p>RRLL league number is 04310808 and is needed for the form.</p>
        <p>The following schools are located within Roadrunner Little League boundaries:</p>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Elementary Schools</th>
                    <th scope="col">Middle Schools</th>
                    <th scope="col">High Schools</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Eastern Hills</td>
                    <td>Eastern Hills</td>
                    <td>Eldorado</td>
                </tr>
                <tr>
                    <td>Georia O'Keefe</td>
                    <td>Eisenhower</td>
                    <td></td>
                </tr>
                <tr>
                    <td>John Baker</td>
                    <td>Hoover</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Matheson Park</td>
                    <td>Southwest Secondary</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Mitchell</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Sunset Mesa</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>SY Jackson</td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <h3>Home Based Residency</h3>
        <p>Residency based on home address requires THREE forms of proof. One document from each of the following
            categories, dated between February 1, 2017 and February 1, 2018.</p>
        <p>Due to the complexity of documentation necessary for home address eligibility, Roadrunner Little League
            recommends completing the Schoool Enrollment Form.</p>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Group 1</th>
                    <th scope="col">Group 2</th>
                    <th scope="col">Group 3</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Driver's License</td>
                    <td>Welfare/Child Care Records</td>
                    <td>Voter Registration</td>
                </tr>
                <tr>
                    <td>School Records</td>
                    <td>Federal Records (Federal Tax, Social Security, etc.)</td>
                    <td>Utility Bills (gas, electric, water/sewar, phone, mobile phone, heating, waste disposal)</td>
                </tr>
                <tr>
                    <td>Vehicle Records (registration, lease, etc.)</td>
                    <td>State Records</td>
                    <td>Financial Records (loan, credit, investment, etc.)</td>
                </tr>
                <tr>
                    <td>Employment Records</td>
                    <td>Local (Municipal) Records</td>
                    <td>Medical Records</td>
                </tr>
                <tr>
                    <td>Insurance Documents</td>
                    <td>Support Payment Records</td>
                    <td>Internet, Cable, or Satellite Records</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Homeowner or Tenant Records</td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Military Records</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
    <h3>Forms</h3>
    <ul>
        <li>
            <a href="../static/assets/paperforms/SchoolWaiver.pdf">School Waiver Form</a>
        </li>
    </ul>
</div>
{% endblock %}