{% extends "base_template.html" %}

{% block title %}Safety{% endblock %}

{% block header_title %}Safety Resources{% endblock %}
{% block header_content %}{% endblock %}

{% block content %}
<h3>Important Links</h3>
<ul>
    <li>
        <a href="https://usabdevelops.com/Courses">USA Baseball Training Courses (including abuse awareness
            training)</a>
    </li>
    <li>
        <a href="https://youtu.be/eZp8usDNCes">Safety Clinic Recording</a>
    </li>
    <li>
        <a href="https://www.littleleague.org/playing-rules/little-league-rulebook-app/">Little League Rulebook App</a>
    </li>
    <li>
        <a href="../static/assets/paperforms/InjuryTrackingForm.pdf">Accident/Injury Tracking Form</a>
    </li>
    <li>
        <a href="../static/assets/paperforms/RRLL-Med-Release-Form.pdf">Medical Release Form</a>
    </li>
    <li>
        <a href="../static/assets/paperforms/RRLL-2024-Safety-Plan.pdf">Safety Plan</a>
    </li>
</ul>
<div>
    <h3>USA Baseball Online Training Information</h3>

    <p>You will have to register on the site in order to take the courses (no fee).</p>

    <p>Each course can generally take between 15minutes and 1 hour to complete.</p>

    <h4>Required:</h4>
    <ul>
        <li>Abuse Awareness for Adults</li>
    </ul>
    <h4>Highly Recommended:</h4>
    <ul>
        <li>Basic First Aid</li>
        <li>Baserunning Fundamentals</li>
        <li>Coaching the Basics of Hitting</li>
        <li>Coaching the Fundamentals of Infield</li>
        <li>Coaching the Fundamentals of Outfield</li>
        <li>Introduction to Pitch Smart (not required for T-Ball or Rookie level)</li>
    </ul>
    <p>
        Due to their training and education, it is not necessary for licensed medical doctors, licensed registered
        nurses, licensed practical nurses and paramedics to attend first aid training in order to meet requirement.
    </p>
    <p>Other individuals who attend various outside first aid training and courses are not exempt.</p>
</div>
{% endblock %}