{% extends "base_template.html" %}

{% block title %}Schedule{% endblock %}

{% block header_title %}Schedule{% endblock %}
{% block header_content %}Find season schedules for all league levels of participation. If there are any scheduled
changes during the season refer to Facebook or the Facebook News page on this site for the most up to date information
and schedules will be updated on this page as soon as possible.{% endblock %}

{% block content %}

<head>
  <meta charset='utf-8' />
  <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.10/index.global.min.js'></script>
  <script>

    document.addEventListener('DOMContentLoaded', function () {
      var calendarEl = document.getElementById('calendar');
      var calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: 'dayGridMonth',
        eventSources: [
          {
            events: [
              {
                title: 'Minors/Rookies Assesments',
                start: "2024-02-09T17:30:00",
                end: "2024-02-09T19:30:00"
              },
              {
                title: 'Majors Assesments',
                start: "2024-02-09T19:30:00",
                end: "2024-02-09T21:30:00"
              },
              {
                title: 'All Divisions Assesments',
                start: "2024-02-10T10:00:00",
                end: "2024-02-10T12:00:00"
              },
              // etc...
            ],
          }
        ]
      });
      calendar.render();
    });

  </script>
</head>

<body>
  <div id='calendar'></div>
</body>
{% endblock %}